*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>ul {
    font-size: 16px;
    font-weight: 500;
}

header>ul>li {
    margin: 0 8px;
   font-size: 15px;
}
.text-decorate{
    text-decoration: none;
}
.list-style-none{
    list-style-type: none;
}
.color{
    color: #000;
}
.logo p{
    font-size: 20px;
    line-height: 1.2;
    margin: 10px 0;
    color: #000;
    padding: 10px;
}
.navbar{
    color: #000;
    height: 70px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.navbar .flex-nav{
    justify-content: space-between;
}
.navbar a{
    color: #000;
    padding: 10px;
}
.flex-nav{
    display: flex;
    align-items: center;
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.text-align{
    text-align: center;
}
.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.w-full {
    width: 100%
}
.w-50{
    width:50%;
}

.h-full {
    height: 100%;
}
.h-vh{
    height: 10vh;
}
.btn-box {
    padding: 12px;
}

.btn {
    padding: 10px 14px;
    background-color: #f3f3f3;
    color: rgb(26, 26, 26);
    border-radius: 6px;
    border: none;
    outline: none;
}

.space-around {
    justify-content: space-around;
}

.mx-1 {
    margin: 17px;
}

.mx-2 {
    margin: 12px;
}

.mx-3 {
    margin: 60px;
}

.mx-6 {
    margin: 60px;
}

.mx-4 {
    margin: 40px;
}

.mx-8 {
    margin-left: 630px;
}

.mx-auto {
    margin: 0 auto;
}

.search-box {
    width: 600px;
    height: 40px;
    outline: none;
    border: 2.5px solid #f5f5ff;
    border-radius: 25px;
    cursor: pointer;
}

.input-box {
    transform: translateY(-20px);
    margin-left: 70px;
    width: 300px;
    height: 20px;
    border: none;
    outline: none;
}

.search-box:hover {
    box-shadow: rgba(19, 19, 19, 0.479) 0px 2px 12px;
}

.icons {
    width: 100px;
    height: 50px;
    transform: translateY(-45px);
    color: rgb(184, 173, 173);
}

.microphone {
    width: 100px;
    height: 50px;
    transform: translateY(-45px);
    margin-left: 300px;
}

.relative {
    position: relative;
}

footer {
    width: 100%;
    margin: 200px auto;
    height: 40vh;
    background: #e5e4e2;
    position: absolute;
}

.united-kingdom {
    height: 10vh;
    background: #e5e4e2;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-p {
    color: black;
}

.transform1 {
    transform: translateX(-800px);
}

.transform {
    transform: translateX(-750px);
}

@-o-viewport {
    width: 100%;
}

@-ms-viewport {
    width: 100%;
}

@viewport {
    width: 100%;
}

html {
    overflow-y: auto;
}


@media (max-width:720px) {
    body {
        overflow-x: hidden;
    }

    .border-red {
        margin: 170px;
        margin-left: -10px;
    }

    img {
        width: 500px;
        height: 200px;
        padding: 30px;
        position: relative;
        left: 20%;
        margin: -30px;
    }

    .search-box {
        width: 600px;
        border: 2.5px solid #f5f5ff;
        height: 40px;
    }

    .input-box {
        width: 559px;
    }

    .microphone {
        color: skyblue;
        transform: translateY(-170px);
        margin: 20px;
    }
   .flex{
       width: 100%;
   }
    .grid-left {
        margin: auto;
    }

    footer {

        padding: 10px 30px;
    }
}

@media (max-width:700px) {
    .border-red{
        width: 1100px;
       margin-left: 190px;
    }
    .input-box {
        width: 200px;
        transform: translateY(-20px);
    }
    .search-box {
        width: 200px;
        border: 2.5px solid #f5f5ff;
        height: 40px;
    }
    .microphone{
      margin-left: 400px;
      margin-top: -60px;
    }
    .icons {
        width: 100px;
        height: 50px;
        transform: translateY(-45px);
        color: rgb(184, 173, 173);
        margin-right: 400px;
    }
    .btn-box {
        padding: -12px;
        width: 300px;
    }
}



@media (max-width:500px) {
    img {
        width: 300px;
        height: 200px;
        padding: 30px;
        position: relative;
        left: 20%;
        margin: -30px;
    }

    .search-box {
        width: 400px;
    }

    .btn-box {
        width: 300px;
        justify-content: space-around;
    }

    .microphone {
        color: skyblue;
        transform: translateY(-110px);
    }

    .grid-left {
        display: grid;
        margin: auto;
    }

    .grid-right {
        display: grid;
        margin: auto;
    }

    footer {
        overflow-x: auto;
    }
}


@media (min-width:500px) {
    .search-box {
        width: 500px;
    }

    .microphone {
        color: skyblue;
        transform: translateY(-110px);
    }

    img {
        width: 300px;
        height: 200px;
        padding: 30px;
        position: relative;
        left: 20%;
        margin: -30px;
    }

    .grid-left {
        display: grid;
        margin: auto;
    }

    .grid-right {
        display: grid;
        margin: auto;
    }
}



@media (max-width:390px) {
    .logo p{
        font-size: 15px;
        line-height: 1.2;
        margin: 10px 0;
        color: #000;
        padding: 5px;
       transform: translateX(-30px);
    }
    img {
        width: 300px;
        height: 200px;
        padding: 30px;
        position: relative;
        left: 20%;
        margin: -30px;
    }

    .border-red {
        justify-content: center;
        margin-left: 150px;
    }

    .search-box {
        width: 300px;
    }

    .input-box {
        width: 100px;
    }

    .btn-box {
        margin-left: 30px;
    }

    .microphone {
        color: skyblue;
        transform: translateY(-110px);
        margin-left: 220px;
    }

    .grid-left {
        display: grid;
        margin: auto;
    }

    .grid-right {
        display: grid;
        margin: auto;
    }

}