*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background: #fff;
    width: 100%;
    height: 50vh;
}
header{
    width: 300px;
    height: 50px;
    justify-items: center;
    display: flex;
    align-items: center;
    margin: 20px;
    float: right;
}
.nav ul{
    display: flex;
    margin: 2rem;
    float: right;
    list-style: none;
    
}
.nav a{
    text-decoration: none;
    list-style: none;
    color:#000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 30px;
    padding: 3px;
    padding-right: 5px;
}
.nav a:hover{
    color:gray;
    text-decoration: underline;
}
.nav-icon {
   padding-bottom: 50px;
  border: 1px solid transparent;
  padding: 5px 5px 5px 3px;
  border-radius: 50px;
}
.nav-icon i{
color: #000;
font-size: 15px;
}
.iii{
    transform: translateY(-8px);
}
.nav-icon:hover{
    background-color: grey;
}
.lg1{
    display: flex;
    margin-left: -700px;
    gap: 3rem;
  }
.google__wrapper{
    width:100%;
    height:80vh;
}
.google_img{
    top: 30%;
    right: 40%;
    position: absolute;
    height: 70vh;
}

.iconinner{
 width: 100px;
 height: 50px;
 position: absolute;
 margin:200px;
 margin-right: 90px;
 transform: translateY(3px);
 font-size: 20px;
}
.icon-right{
    transform: translateY(-225px);
    width: 100px;
    height: 50px;
    position: absolute;
    margin-left: 700px;
    
}
.input-field{
    width:600px;
    height: 45px;
    padding-left: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 19px;
     margin: 190px;
     border: 3px solid #f5f5f5;
}
.input-field:hover{
    background: #fff;
    box-shadow:3px 3px 15px;
    border: 1px solid #fff;
}
input::placeholder{
    margin-right: 270px;
    border: 1px #fff;
}
.input-field:hover{
    background: #fff;
}
.boxblock{
    height: 50px;
    margin-top: -150px;
    display: flex;
    gap:5rem;
    margin-left:290px;
}
 .btn1{
    border: 2px solid #F8f9f5;;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    background:#F8f9f5;;
    position: relative;
}
.btn1:hover{
    background: #Fdfcfa;
    box-shadow:2px 2px 1px rgb(255,255,255);
}
 .btn2{
    border: 2px solid #F8f9f5;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    background:#F8f9f5;
    position: relative;
}
.btn2:hover{
    background: #Fdfcfa;
    box-shadow:2px 2px 2px rgb(255,255,255);;
}
.btn-des{
    padding-left: 15px;
    margin: 7px;
}
.logo{
    display: flex;
    position: absolute;
}
.footer{
    margin: 90px;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    width: 100%;
    background: #e5e4e2;
    text-align: center;
}
.footer-text{
   padding: 15px;
}
.footer__tx{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 25px;
    margin-right: 100px;
}
.footer__tx a{
    text-decoration: none;
    color: grey;
}
.fx{
  margin-left:200px;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  
}
footer,.footer{
    height: 20vh;
    background-color: #e5e4e2;
}
.united-kingdom{
    background:  #e5e4e2;
    height: 10vh;
}
.footer{
    height: 40vh;
    margin-bottom: -50px;
}

.footer{
    margin: 0 2px;
    height: 40vh;
    background: black;
}


